/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

.container {
  max-width: 1140px;
}

.d-lg-flex {
  display: flex;
}

.align-items-lg-center {
  align-items: center !important;
}

.space-top-2 {
  padding-top: 4rem !important;
}

.space-lg-0 {
  padding-bottom: 0 !important;
}

.w-md-100 {
  width: 100% !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.single-service-box {
  padding: 20px 10px;
  margin-bottom: 30px;
  box-shadow: 0 30px 25px rgb(100 100 140 / 8%);
}

.col-lg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
